<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!DOCTYPE html>
<html>
    <head>

        <title>ODGlobe</title>
    </head>

    <body>
    <div class="page-header">
        <h1><a href="/file_uploader">ODGlobe</a></h1>
        <small class="text-muted">Buscando datos abiertos para encontrar soluciones</small>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>


